html, body, #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
}
/* toolbar
      地图右上方toolbar
 */ 
#layerbox {
    background: #fff;
    height: 36px;
    width: 225px;
    position: relative;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}       
.layerbox {
    position: absolute;
    top: 15px;
    left: calc(100% - 330px);
    z-index: 1999;
    background: #fff;
    border-radius: 2px;
    padding: 5px 6px;
    cursor: move;
}
.zdeps-1 {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}
.usel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#layerbox .layer_item {
    float: left;
    height: 36px;
    cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#layerbox .layer_item span:hover {
    opacity: .6;
}
#layerbox .traffic span {
    padding-top: 20px;
    background-position: 11px 4px;
}
#layerbox .layer_item span {
    display: inline-block;
    height: 16px;
    padding: 20px 10px 0;
    border-right: 1px #e5e5e5 solid;
    background: url(../image/tools_layer_new.png) no-repeat;
}

#layerbox .traffic span {
    padding-top: 20px;
    background-position: 11px 4px;
}
#layerbox .traffic.active span {
    background-position: 11px -45px;
}
#layerbox .satellite span {
    background-position: 11px -336px;
}
#layerbox .subway span {
    background-position: 11px -142px;
}

.tool_item span:hover {
    opacity: .6;
}
.tool_item {
    float: left;
    cursor: pointer;
}
.ranging span {
    background-position: 11px 2px;
}
.tool_item span {
    display: inline-block;
    height: 16px;
    padding: 20px 10px 0;
    border-right: 1px #e5e5e5 solid;
    background: url(../image/tools_new.png) no-repeat;
}
#layerbox .ranging span {
    background: url(../image/tools_new.png) 12px 3px no-repeat;
}
.fullscreen.notfull span {
    border: 0;
    background-position: 11px -255px;
}
/* 综合搜索框 */
.search {
    z-index: 6201;
    left: 15px;
    top: 15px;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.dtrigger, .search {
    position: absolute;
}
.searchbox {
    position: relative;
    z-index: 2201;
    width: 400px;
    height: 45px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
.searchbox #searchipt {
    position: absolute;
    top: 8px;
    left: 50px;
    text-indent: 8px;
    z-index: 2200;
    border: none;
    width: 276px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    letter-spacing: .5px;
}
.searchbox .iptbox {
    left: 50px;
    width: 310px;
    z-index: 2202;
    border-radius: 2px;
}
.searchbox .iptbox, .searchbox .logo {
	left: 8px;
    top: 6px;
    height: 34px;
    position: absolute;
}
.searchbox #separator {
    position: absolute;
    right: 38px;
    top: 11px;
    height: 24px;
    width: 1px;
    background: #ccc;
}
.searchbox .direntry {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 12px;
    text-align: center;
    cursor: pointer;
}
input{
	color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
}
.searchbox .direntry .fa-dir {
    display: inline-block;
    width: 11px;
    height: 16px;
}
img {
    vertical-align: middle;
}
img, legend {
    border: 0;
}
.searchbox .iptbox #searchbtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9308;
    width: 32px;
    height: 32px;
}
.searchbox .searchlogo {
    position: relative;
    top: 4px;
    left: 1px;
    font-size: 16px;
    color: #ccc;
}
.searchlogo:hover{
	color: #00A0E9;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0,0);
}
.fa, .fa-stack {
    display: inline-block;
}
.fa, .jBox-wrapper {
    -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
    content: "\f002";
}
/* 左侧导航栏 */
#amap-panels {
    background: #fff;
    position: relative;
    width: 100%;
    overflow: hidden;
    opacity: .94;
}
#nav {
    position: absolute;
}
#nav {
    width: 55px;
    background-color: #f4f5f6;
    overflow: hidden;
    height: 100%;
    z-index: 9999;
}
.zdeps-1 {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

#amapbox {
    z-index: 2000;
    position: absolute;
    left: 15px;
    top: 60px;
    width: 400px;
    display: none;
}
#nav {
    position: absolute;
}
#nav {
    width: 55px;
    background-color: #f4f5f6;
    overflow: hidden;
    height: 100%;
    z-index: 9999;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    /* background: #2d2c41; */
}

#nav li.active, #nav li:hover {
    background-color: #fff;
}
#nav li {
    position: relative;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
}
.transit {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#nav .active .dirico, #nav li:hover .dirico {
    display: inline-block;
    width: 18px;
    height: 20px;
    margin: 0 18.5px;
    background: url(../image/dir-active.png) center center no-repeat;
}
#nav .dirico {
    display: inline-block;
    width: 18px;
    height: 20px;
    margin: 0 18.5px;
    background: url(../image/dir.png) center center no-repeat;
}
#nav li .fa {
    font-size: 20px;
    color: #b1b2b3;
    display: block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
#nav li .nav-txt {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
/*    color: #737475;*/
}
#nav li.active .fa, #nav li.active .nav-txt, #nav li:hover .fa, #nav li:hover .nav-txt {
    color: #1b8cfb;
}
.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: "\f0c9";
}
.fa-phone:before {
    content: "\f095";
}
.fa-bookmark:before {
    content: "\f02e";
}

/*左侧导航栏部分具体内容*/
#amap-panels > div {
    display: none;
    position: relative;
    background: #fff;
    width: 100%;
}
#favesbox {
    margin-left: 55px;
    padding: 10px 15px 30px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#favesbox .infotitle {
    margin-top: 10px;
    margin-bottom: 24px;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
}
p {
    margin: 0;
}
#favesbox .infobtnbox {
    margin: 10px 10px 158px;
    text-align: center;
}
/*左侧导航栏底部链接*/
#amap-links {
    z-index: 1002;
    width: 345px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    font-size: 12px;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#amap-links > a {
    color: #999;
    display: inline-block;
    padding: 6px;
}
a {
    background-color: transparent;
    color: #6495ed;
    text-decoration: none;
}
a {
    color: #b63b4d;
    text-decoration: none;
}
#amap-links > a {
    color: #999;
    display: inline-block;
    padding: 6px;
}
a:active, a:hover {
    outline: 0;
    text-decoration: underline;
}

a {
    background-color: transparent;
    color: #6495ed;
    text-decoration: none;
}
.sep {
    display: inline-block;
    vertical-align: baseline;
    border-right: 1px solid #e1e1e1;
    height: 12px;
    margin: 0 4px;
}

/*显示隐藏按钮*/
.usel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.amap-panctrl-up {
    bottom: -20px;
}
.amap-panctrl {
    z-index: -10;
    width: 100%;
    position: absolute;
    height: 24px;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    text-align: center;
    background: url(../image/panctrl.png) center center no-repeat;
}
.amap-panctrl .fa {
    padding: 2px 40px;
    opacity: 0.7;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    /*font-size: inherit;*/

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.fa-chevron-up:before {
    content: "\f077";
}